.complete
{
  display: flexbox;
  /* background-color: #66b6b6; */
  background-image: url('../public/collage.png');
  background-attachment: scroll;
  background-size: 20vw 18vw;
  height: 80vh;
  width: 100vw;
  overflow:scroll;
  overflow-x: hidden;
  padding: 2vh 2vw;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar{
     opacity:90;
     background: #063a3a;
     width: 10px;
}
::-webkit-scrollbar:hover{
     opacity: 0;
}
::-webkit-scrollbar-thumb{
     background: hsl(177, 34%, 51%);
     border-radius: 15px;
}

.footer
{
  background-color: #063a3a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative;
  z-index: 1;
  bottom: 60vh;
  width: 100vw; */
}
.navExtra
{
  height: 10vh;
}

.white
{
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 3vh;
}

.cart{
  background-color: rgb(6, 58, 58);
  height: 60vh;
  width: 20vw;
  padding: .5vh;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  border: 3px solid hsl(177, 34%, 51%);
  color: white;
  padding: 2vh;
  /* bottom: 75vh;
  right: 4vw; */
}

.checkout
{
  display: flex;
  background-color: #063a3a;
  border: 3px solid hsl(177, 34%, 51%);
  color: white;
  justify-content: center;
  align-items: center;
  font-size: larger;
  width: 18vw;
  border-radius: 10px;
  /* bottom: 14vh;
  right: -15vw; */
}

.common
{
  /* position: relative; */
  /* float: right; */
  /* z-index: 0; */
}
